<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_FILE_PATH" value="/data/logs/sample-spring-elastic/" />
	<property name="CHAR_SET" value="UTF-8" />

	<!-- <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>${CHAR_SET}</charset>
			<Pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] %c{1} %M\(\):%L - %m%n</Pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_PATH}${LOG_FILE_NAME}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>${CHAR_SET}</charset>
			<Pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] %c{1} %M\(\):%L - %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_PATH}${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender> -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>${CHAR_SET}</charset>
			<Pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] %c{1} %M\(\):%L - %m%n</Pattern>
		</encoder>
	</appender>
    <!-- was로그 로그 설정(기본 rolling 포맷) -->
    <appender name="FILE_LOG_WAS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/logWas.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%thread] [%X{url}] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- was로그 로그 설정(json포맷)-->
    <appender name="FILE_LOG_WAS_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/logWasJson.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"system_name":"SAMPLE_ELASTIC"}</customFields>            
        </encoder> 
    </appender>

    <!-- root 로그 설정 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE_LOG_WAS"/>
    </appender>

	<!-- local -->
	<springProfile name="local">
		<logger name="com.sehoon.elastic" level="debug" additivity="false">
			<appender-ref ref="console" />
		</logger>
		<root level="debug">
			<appender-ref ref="console" />
		</root>
	</springProfile>
	
	<!-- dev -->
	<springProfile name="dev">
		<logger name="com.sehoon.elastic" level="debug" additivity="false">
			<!-- <appender-ref ref="console" /> -->
			<appender-ref ref="FILE_LOG_WAS"/>
		</logger>
		<root level="debug">
			<appender-ref ref="ASYNC"/>
        	<appender-ref ref="FILE_LOG_WAS_JSON"/>
		</root>
	</springProfile>

	<!-- prod -->
	<springProfile name="prod">
		<logger name="com.sehoon.elastic" level="info" additivity="false">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</logger>
		<root level="info">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</root>
	</springProfile>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
	<logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
	<logger name="org.elasticsearch" level="WARN"/>
	<logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="INFO"/>
</configuration>
